body {
  margin: 0px;
  background: url("palms.jpg");
  text-align: center;
}
h1 {
  font-size: 100px;
  font-family: "Hanalei", cursive;
  color: rgb(237, 216, 132);
  text-shadow: 8px 8px 8px rgb(6, 12, 9);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}
#squaresContainer {
  width: 170vw;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
}
.pixel {
  border: 1.1px solid rgb(112, 181, 163);
  background-color: rgb(25, 54, 37);
  height: 1.5vh;
  width: 1.5vh;
}
.colored-in {
  background-color: white;
}
#resetButton {
  font-size: 60px;
  background-image: linear-gradient(rgb(53, 114, 105), rgb(194, 216, 84));
  border: none;
  border-radius: 12%;
  font-family: "Hanalei", cursive;
  color: rgb(25, 54, 37);
  text-shadow: 8px 8px 8px rgb(25, 54, 37);
  box-shadow: 8px 8px 8px rgb(25, 54, 37);
}
#resetButton:hover {
  cursor: pointer;
}
