:root {
  --teal: rgb(56, 106, 106);
}
body {
  margin: 0px;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: darkcyan;
}

#clear-screen-button:hover {
  cursor: pointer;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--teal);
  color: rgb(147, 187, 199);
  font-size: 14px;
}
h1 {
  font-size: 54px;
}
