/*  */
body {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  text-align: center; 
  background: darkcyan; 
}

#canvas {
    border: 2px solid rgb(63, 57, 57);
    border-radius: 40px; 
    width: 80vw; 
    height: 60vh; 
    /background: rgba(15, 12, 2, 0.267); 
}
#direction {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

 .dBtns1 {
    margin-top: 1em;
    grid-row: 4;
    grid-column: 5;
}
.dBtns2 {
    margin-top: 6em;
    grid-row: 1;
    grid-column: span 1;
} 
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

#screen {
    width: 80vw;
    height: 80vh;
    background-color: darkgray;
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    border: 1px solid gray;
    background-color: black;
    height: 1px;
    width: 1px;
    z-index: 100;
}
/* .pixel:hover {
    background: black;
} */

.colored-in {
    background-color: black;    
}


#clear-screen-button:hover {
    cursor: pointer;
} 
*/